/ #tab-area
/   .tab-nav
/     a.current href="#tab01"  タブ1
/     a href="#tab02"  タブ2
/     a href="#tab03"  タブ3
/     
/   .tab-contents
/     #tab01.current
/       | コンテンツ1
/     #tab02
/       | コンテンツ2
/     #tab03
/       | コンテンツ3

div
  .row
    .col-sm-4 ホーム
    .col-sm-4 トーク
    .col-sm-4 マイページ
