/ h1 Listing chats
/
/ table
/   thead
/     tr
/       th Male
/       th Female
/       th
/       th
/       th
/
/   tbody
/
/     - @chats.each do |chat|
/       tr
/         td = chat.male_id
/         td = chat.female_id
/         td = link_to 'Show', chat
/         td = link_to 'Edit', edit_chat_path(chat)
/         td = link_to 'Destroy', chat, data: { confirm: 'Are you sure?' }, method: :delete
/
/ br
/ p
/   = link_to 'New Chat', new_chat_path
/ p
/   = link_to "logout", destroy_user_session_path, method: :DELETE

- @chats.each do |chat|
  .to_user
  - if chat.female_id ==  @id
    - to_id = chat.male_id
  -  else
    - to_id = chat.female_id

  - to_user = User.find(to_id)
  = image_tag to_user.image,:size => '50x50'
  = link_to to_user.name, chat
  hr
