.registration {
  background-color: #eeeeee;
  min-height: 100vh;
  .header {
    height: 50px;
    background-color: #66cc33;
    margin-bottom: 5px;
    img {
      height: 100%;
      margin: 2px;
    }
  }
  h2 {
    font-size: 1.5em;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  section{
    margin: 5px;
    // box-sizing: border-box;
    .field {
      margin: 10px 0;
    }
    label {
      margin-bottom: 10px;
    }
  }
  input[type='text'], input[type='email'], input[type='password'], input[type='date'], select {
    border: 1px solid #eee;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
  }
  textarea {
    border: 1px solid #eee;
    width: 100%;
    box-sizing: border-box;

  }
  #jsInputFile {
    span {
      margin-left: 10px;
    }
  }
  .actions {
    text-align: center;
    padding: 5px 0 10px 0;
    .btn {
      background-color: #66cc33;
      color: #fff;
    }
  }
}