.search{
  padding: 50px 0 0 0;
}

search-searchtop{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.search-tabbar{
  // border: 1px solid #aaa;
  width: 400px;
  text-align: center;
  margin: 10px,　0px,　10px,　0px;
  font-size: 1px;
  text-align: center;
}

.search-tabbar-item{
  display: inline-block;
  width: 17%;
  float: left;
  border: 1px solid #aaa;
}

.main-collection-list {
  background: #BDBDBD;
  margin-top: 10px;
  height: 600px;
}

.personal-view{
  background: #F6CED8;
  width: 50%;
  display: inline-block;
}

.image-display{
  text-align: center;
}

.personal-info-name{
  text-align: center;
}
