.tabbar{
  margin: 5px;
  font-size: 5px;
}

.searchtop{
  display: inline-block;
}

.searchbar{
  border: 1px solid #aaa;
  width: 150px;
}

.search-tabbar{
  border: 1px solid #aaa;
  width: 400px;
  text-align: center;
  margin: 10px,　0px,　10px,　0px;
  font-size: 1px;
}

.main-collection-list {
  background: #BDBDBD;
  margin-top: 10px;
  height: 600px;
}

.personal-view{
  background: #F6CED8;
  width: 50%;
  display: inline-block;
}

.image-display{
  text-align: center;
}

.personal-info-name{
  text-align: center;
}
