.main-navigation{
  margin-top: 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  position: fixed;
  top: 0;
  width: 100%;
  // max-width: 700psx;
  z-index: 10;
  opacity: 0.95;
  border-bottom: 1px solid #cfd0cf;
}

.main-navigation-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33.333%;
  height: 50px;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-item-label{
  position: absolute;
  top: 65%;
  left: 0;
  display: block;
  width: 100%;
  text-align: center;
}

figure image_tag {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(15deg) scale(1.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
figure:hover image_tag {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
