.search{
  padding: 55px 0 0 0;
}

.search-searchtop{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.search-searchbar-item{
  // display: inline-block;
}

.search-searchbar{
  margin-bottom: 10px;
}

.search-tabbar{
  // border: 1px solid #aaa;
  width: 400px;
  text-align: center;
  // margin: 10px,　0px,　10px,　0px;
  font-size: 1px;
  border-radius: 15px;
}

.search-tabbar-item{
  display: inline-block;
  width: 29.5%;
  float: left;
  // border: 1px solid #aaa;
}

.search-name{
  border: 1px solid #cfd0cf;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  width: 200px;
}



.main-collection-list {
  background: #66cc33;
  margin-top: 10px;
  height: 600px;
}

.personal-view{
  background: #eee;
  width: 50%;
  display: inline-block;
  margin-bottom: 5px;
}

.image-display{
  text-align: center;
}

.personal-info-name{
  text-align: center;
}

:root {
	/* if u want to change the color of
	 * the ripple change this value
	*/
	--color-ripple: rgba(255,255,255,0.8);
}

body {
	background: #36353c;
}

*[data-animation="ripple"] {
	position: relative; /*Position relative is required*/
	height: 100%;
	width: 100%;
	display: block;
	outline: none;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	// background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
  background: #66cc33;
	box-sizing: border-box;
	text-align: center;
	line-height: 14px;
	font-family: roboto, helvetica;
	font-weight: 200;
	letter-spacing: 1px;
	text-decoration: none;
	// box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  // border-radius: 15px;
	-webkit-tap-highlight-color: transparent;
}

*[data-animation="ripple"]:focus {
	outline: none;
}

*[data-animation="ripple"]::selection {
	background: transparent;
	pointer-events: none;
}

// .maybe{
//   border-radius: 15px 15px 15px 15px;
// }
//
// .acquaintance{
//   border-radius: 0px 0px 15px 15px;
// }
//
// .likes{
//   border-radius: 0px 0px 15px 15px;
// }
// search/show
.search-show {
  position: relative;
  height: 100vh;
  .visual-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: #ccc;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
  }
  .user-image {
    position: absolute;
    top: 60px;
    left: 10px;

    height: 100px;
    text-align: center;
    width: 100%;
    img {
      object-fit: cover;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }
  }
  .user-info {
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-bottom: 100px;
    p.user-name {
      text-align: right;
      padding: 30px 15px 0 0;
      font-size: 1.3em;
    }
    .user-status {
      width: 100%;
    }
    .user-basic-info {
      p {
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px;
      }
    }
  }

  .user-like-button {
    width: 100%;
    position: fixed;
    bottom: 10px;
    z-index: 9999;
    text-align: center;
    img {
      width: 90%;
      max-width: 600px;
    }
  }
  .balloon-top {
    position: relative;
    display: inline-block;
     margin: 1.5em 5%;
    padding: 7px 10px;
    min-width: 120px;
    width: 100%;
     max-width: 90%;
     color: #555;
    font-size: 16px;
    background: #e0edff;
  }

  .balloon-top:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 70px;
     margin-left: -15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #e0edff;
  }

  .balloon-top p {
    margin: 0;
    padding: 0;
  }

}
